:root {
    --blue: #3D8BFD;
}

body {
    font-family: monospace, sans-serif;
    overflow-x: hidden;
}

.bg-color-blue {
    background-color: var(--blue);
}

.bg-color-black {
    background-color: black;
}

.text-color-white {
    color: white;
}

.text-color-blue {
    color: var(--blue);
}

/* navbar start */

.nav-item .text-color-white:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: grey;
    border-radius: 4px;
}

#navbar-items-container>.nav-item {
    text-align: center;
}

/* navbar end */

/* section 1 start */

#section-1 {
    height: calc(100vh - 64px);
    margin-top: 64px;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-image {
    opacity: 0.4;
}

#title {
    position: absolute;
    color: white;
    font-size: larger;
    width: 80%;
    max-width: 800px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.tag-line {
    font-size: 0.63em;
    font-weight: 900;
}

#title:nth-child(n+2) {
    /* excluding tagline */
    font-weight: 900;
}

/* section 1 end */

/* section 2 start */

.carousel-image {
    aspect-ratio: 18/9;
}

/* section 2 end */

/* section 3 start */
#section-3 .service .card {
    border-color: var(--blue);
}

/* section 3 end */

/* section 4 start */
#section-4 .card {
    border-color: var(--blue) !important;
}

/* section 4 end */

/* section 5 start */
#section-5 .decorator-divider {
    background-color: var(--blue);
    display: inline-block;
    width: 30px;
    height: 3px;
    margin-bottom: 3px;
}

.display-grid-2x2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#section-5 {
    background-color: #F2F3F8;
}

.since1999 {
    font-size: 1.3rem;
}

/* section 5 end */

/* section 6 start */
.project-img-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

/* section 6 end */

@media screen and (min-width: 576px) {
    .tag-line {
        font-size: 0.95em;
    }

    /* section 5 start */
    .display-grid-2x2 {
        row-gap: 2rem;
    }

    /* section 5 end */
}

@media screen and (min-width: 768px) {
    .tag-line {
        font-size: 1.2em;
    }

    /* section 5 start */
    .display-grid-2x2 {
        row-gap: 2.5rem;
    }

    /* section 5 end */

    /* section 6 start */
        .project-img-container {
            grid-template-columns: repeat(2, 1fr);
            gap: 1em;
        }
        /* odd */
        .project-img:nth-child(2n+1) {
            justify-self: end;
        }
        /* even */
        .project-img:nth-child(2n+2) {
            justify-self: start;
        }
    /* section 6 end */
}

@media screen and (min-width: 992px) {
    #navbar-items-container {
        width: 70%;
    }

    .tag-line {
        font-size: 1.25em;
    }
    /* section 6 start */
        .project-img-container {
            gap: 1em;
        }
    /* section 6 end */
}

@media screen and (min-width: 1200px) {
    #navbar-items-container {
        width: 60%;
    }

    .tag-line {
        font-size: 1.4em;
    }
    
    /* section 6 start */
        .project-img-container {
            gap: 2em;
        }
    /* section 6 end */
}

@media screen and (min-width: 1400px) {
    #navbar-items-container {
        width: 45%;
    }

    .tag-line {
        font-size: 1.5em;
    }
}

/* xxx-large */
@media screen and (min-width: 1600px) {
    /* section 6 start */
    /* .project-img-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 0;
        justify-content: center;
    } */
    /* all */
    /* .project-img:nth-child(n) {
        justify-self: center;
    } */
    /* section 6 end */
}